<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create post</title>
</head>
<body>
    <div class="create-container">
        <div class="create-form">
            <form action="/create" method="POST">
                <input type="text" name="title" placeholder="Title">
                <input type="text" name="category" placeholder="Category">
                <textarea name="content" placeholder="Share!"></textarea>
                <input type="submit" value="Post!">
            </form>
        </div>
    </div>
</body>
</html>