<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Habit</title>
</head>
<body>
    <div class="containter">
        <main>
            <h3>Create a Habit</h3>
            <form class="habit-form" action="/create" method="POST">
                <input type="text" name="habit-name" placeholder="Habit">
                <input type="text" name="habit-comment" placeholder="Additional comments">
                <input type="number" name="habit-days" placeholder="Number of days">
                <input type="number" name="habit-times" placeholder="Number of times">
                <input type="submit" value="Create">
            </form> 
        </main>
    </div>
</body>
</html>